################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OhCheat/v15
/OhCheat/OhCheat/obj
/OhCheat/OhCheat.Android/obj
/OhCheat/OhCheat.UWP/obj
